.header {
  background-color: $main-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: $header-height;
  transition: height 0.3s ease;

  .container {
    height: 100%;
  }

  &_logo {
    @include flex(center, center);
    position: absolute;
    inset: 0;
    pointer-events: none;

    img {
      height: 28px;
    }
  }

  &.shrink {
    height: $header-shrink-height;
    box-shadow: $box-shadow;
    z-index: 100;
  }

  &_menu {
    @include flex(center, space-between);
    height: 100%;
    font-size: 1.5rem;

    &_item ~ &_item {
      margin-left: 39px;
    }

    &_item.active {
      font-weight: 600;
      color: $main-color;
    }

    &_item:hover {
      color: $main-color;
    }

    &_mobile-toggle {
      display: none;
    }

    &_left,
    &_right {
      @include flex(center, center);
    }

    &_left {
      &_close {
        display: none;
      }
    }

    &_right {
      font-size: 2.25rem;

      &_item {
        @include flex(center, center);
      }
    }
  }
}

@include tablet {
  .header {
    height: $header-tablet-height;

    &_menu {
      &_item ~ &_item {
        margin-left: 20px;
      }

      &_mobile-toggle {
        display: block;
        font-size: 2.5rem;
        cursor: pointer;
      }

      &_right {
        margin-left: auto;
      }
      &_left {
        flex-direction: column;
        background-color: $main-bg;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 30px;
        transform: translateX(-100%);
        transition: transform 0.5s ease;

        &.active {
          transform: translateX(0);
        }

        &_item ~ &_item {
          margin-left: unset;
          margin-top: 20px;
        }

        &_close {
          display: block;
          position: absolute;
          left: 20px;
          font-size: 2.5rem;
          cursor: pointer;
        }
      }
    }
  }
}

@include mobile {
  .header {
    height: $header-mobile-height;

    &_menu {
      &_item ~ &_item {
        margin-left: 10px;
      }

      &_right {
        font-size: 1.5rem;
      }
    }
  }
}
